footer{
  display: flex;

  padding-block: 24px;
  gap: 24px;
  justify-content: space-between;
  font: 14px/150% var(--font-family);
}

footer span:nth-child(1){
  margin-right: auto;
}

footer span:nth-child(2){
  text-align: center;
}

footer span:nth-child(3){
  text-align: end;
}